# docs/requirements.txt
# Python dependencies for building Read the Docs documentation
sphinx
sphinx-rtd-theme
myst-parser
pandas
numpy
plotly
torch
scikit-learn # 'sklearn' is installed via 'scikit-learn'
joblib
streamlit
matplotlib  # <-- MAKE SURE THIS IS PRESENT AND UNCOMMENTED